 <div class="row top-brown">
           <div class="container">
	               <div class="col-md-6 show-name">
	                 <h2 class="georgia">My watchlist</h2>
	               </div>
              </div>
</div>
<div class="middle-yellow">
   <div class="container">
       <div class="row top-buffer" ng-repeat="show in results">
          <div class="col-md-3">
              <a href="#/tvshow/{{ show.tmdbId }}">
                    <img src="http://image.tmdb.org/t/p/w500{{ show.posterPath }}" alt="{{ show.title }}"
                            class="img-responsive" style="margin-bottom: 0px; max-width: 80%"></a>
          </div>
          <div class="col-md-5">
              <h4 class="show-name">Overview</h4>
              <p>{{ show.overview | limitTo: 300}}<a href="#/tvshow/{{ show.tmdbId }}"> Read more...</a></p>
          </div>
          
          <div class="col-md-4">
          <div class="row">
	            <button class="btn btn-watchlist "  ng-click="removeFromWatchlist(show, $index)">
	                       <i class="glyphicon glyphicon-minus"></i> Remove from watchlist</button>  
                       </div>
          </div>
         
       </div>
   </div>
</div> 
<div ng-show="!results.length && !loading" ng-cloak>
  <div class="top-brown" style="position: absolute; width: 100%; height: 100%">
     <div class="container middle-yellow" style=" width: 100%; height: 100%">
       <h2 class="show-name text-center">No TV Shows added to your watchlist</h2>
     </div> 
  </div>
</div>