<div class="top-brown">
    <div class="container middle-yellow">
             
        <div class="row">
        
            <div class="col-md-6">
                
                <h3>What you like to watch</h3>
                <h4 ng-show="myChart">No data</h4>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            
             <div class="col-md-6">
                 
                 <h3>What show-maniac users like to watch</h3>
                <canvas id="allChart" width="400" height="400"></canvas>
            </div>
            
        </div>
        
                <div class="row">
        
            <div class="col-md-6">
                
                <h3>What you recommend</h3>
                 <h4 ng-show="myRec">No data</h4>
                <canvas id="myRec" width="400" height="400"></canvas>
            </div>
            
             <div class="col-md-6">
                 
                 <h3>What show-maniac users recommend</h3>
                <canvas id="allRec" width="400" height="400"></canvas>
            </div>
            
        </div>
        
            
        
    </div>
</div>